.banner {
  color: Black;
  height: 100px;
  line-height: 100px;
  font-size: 21px;
  margin-bottom: 10px;
  font-family: 'Nova Mono', monospace;
  min-width: 650px;
}

.logo {
  float: left;
  width:100px;
  height:100px;
  margin-right: 10px;
}

.menublock {
  background-color: Gray;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

.menu {
  list-style-type: none;
  display: inline;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: Gray;
}

.dropbut {
  background-color: Gray;
  color: white;
  padding: 16px;
  font-size: 18px;
  border: none;
  font-family: 'Nova Mono', monospace;
}

.active {
  background-color: Gray;
  color: deepskyblue;
  padding: 16px;
  font-size: 18px;
  border: none;
  font-family: 'Nova Mono', monospace;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 140px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: Black;
  min-width: 100px;
  z-index: 1;
  font-family: 'Nova Mono', monospace;
  width: 140px;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: DeepSkyBlue;}

.dropdown:hover .dropdown-content {display: block;  width: 140px;}

.dropdown:hover .dropbut {background-color: Black; width: 140px; text-align: left;}

.dropdown:hover .active {background-color: Black; width: 140px; text-align: left;}

.headers {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 20px;
  background-color: DeepSkyBlue;
  color: White;
  font-family: 'Nova Mono', monospace;
  font-weight: bold;
}

.animeblock {
  text-align: center;
}

.subheaders {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  padding: 10px;
  font-size: 18px;
  background-color: Gray;
  color: White;
  font-family: 'Nova Mono', monospace;
}

.animetitle {
  margin-left: 40px;
  font-size: 16px;
  text-decoration: none;
  font-family: 'Nova Mono', monospace;
}

.animetitle a {
  color: deepskyblue;
  word-wrap: normal;
}

pre {
  white-space: pre-wrap;
  font-family: 'Nova Mono', monospace;
}

.commenttitle {
  font-size: 16px;
  text-decoration: none;
  font-family: 'Nova Mono', monospace;
}

.animeeach {
  text-align: center;
  font-weight: bold;
  font-family: 'Nova Mono', monospace;
  font-size: 25px;
  display: inline-block;
  color: DeepSkyBlue;
  width: 33%;
  height: 50%;
  background-image: url("cherry2.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: -webkit-baseline-middle;
}

.animeeach a {
  text-decoration: none;
  color: black;
  position: relative;
  top: 45%;
}

.animeimg {
  display: block;
  width:150px;
  height:150px;
}

.topdisc {
  text-align: justify;
  margin: 50px 25px 50px 25px;
  list-style-type: square;
}

.footer {
  background-color: Gray;
  text-align: center;
  color: white;
  font-family: 'Nova Mono', monospace;
  margin-top: 5px;
}

.submitbut {
  margin: 20px;
  text-align: center;
}

.submitbut input {
  font-family: 'Nova Mono', monospace;
  color: white;
  background-color: Gray;
  padding: 5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.box {
  width: 95%;
  height: 75px;
  margin-left: 50px;
  margin-top: 20px;
  font-family: 'Nova Mono', monospace;
}

.check {
  margin-left: 20px;
}

.login {
  text-align: center;
  margin: 20px;
  min-height: 200px;
  line-height: 200px;
  color: white;
  background-color: Gray;
  font-size: 16px;
  font-family: 'Nova Mono', monospace;
}

.signup {
  margin-left: 40px;
  margin-top: 20px;
  font-size: 16px;
  background-color: Gray;
  color:white;
  width: 75%;
  font-family: 'Nova Mono', monospace;
}

.signup label {
  margin-left: 5px;
}

.signuptext {
   margin-left: 50px;
   margin-top: 20px;
   width: 50%;
   font-family: 'Nova Mono', monospace;
}

.alphablock {
  margin: 15px;
  padding: 0px;
  text-align: center;
}

.alphablock a{
  color: Black;
  text-decoration: none;
  text-align: center;
  margin: 1px;
}

.alphalist {
  list-style-type: none;
  display: inline;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: Gray;
  text-decoration: none;
  font-family: 'Nova Mono', monospace;
}

.alphalist a {
  color: white;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 3px solid deepskyblue;
  font-family: 'Nova Mono', monospace;
}

td:nth-child(1) {
  width: 25%;
}

td:nth-child(2) {
  width: 50%;
}

td:nth-child(3) {
  width: 25%;
}

.invalid {
  background-color: #ff87a0;
  font-family: 'Nova Mono', monospace;
  font-weight: bold;
  color: white;
  margin: 5px;
  padding: 5px;
  text-align: center;
}

.valid {
  background-color: deepskyblue;
  font-family: 'Nova Mono', monospace;
  font-weight: bold;
  color: white;
  margin: 5px;
  padding: 5px;
  text-align: center;
}